<div class="col-md-12">
  <h1>Cara pake Class/Style/Attribute di Angular</h1>
</div>

<div class="col-md-12">
  <ul class="list-group" [class.text-left]="true">
    <li class="list-group-item">
      <h3>Conditional Class pake <code>[class.(nama class nya)]</code></h3>
      <pre>
        
      </pre>
    </li>
    <li class="list-group-item">
      <h3>Conditional Class pake <code>[ngClass]</code></h3>
      <pre>
      </pre>
    </li>
    <li class="list-group-item">
      <h3>Set style di Angular</h3>
      <pre>
      </pre>
    </li>
    <li class="list-group-item">
      <h3>Set attribute di Angular</h3>
      <pre>
      </pre>
    </li>
  </ul>
</div>
